<% include ../../../views/header %>
<div class="container">
    <form method="get" id="itemcopy">
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url" />
        </div>
        <button type="submit" class="btn btn-default start">提交</button>
        <div id="status"></div>
    </form>
</div>
<% include ../../../views/footer %>