<% include ../../../views/header %>
<div class="container">
    <script>
        var bloomContext = {
            id: '<%=params.id%>'
        };
    </script>
    <div id="console"></div>
</div>
<% include ../../../views/footer %>